<app-layout>
  <div id="mainContainer">
    <!--<h1>Custom Pipe</h1>
    <b>Square root of 25 is: {{25 | sqrt}}</b>
    <br/>
    <b>Square root of 729 is: {{729 | sqrt}}</b>-->

    <!--<div *ngIf="display" class="ng-template-example">
      ng-template example
    </div>
    <ng-template [ngIf]="display">
      <div class="ng-template-example">ng-template example</div>
    </ng-template>

    <div [ngSwitch]="Course">
      <p *ngSwitchCase="'Angular'">Angular Course</p>
      <p *ngSwitchCase="'TypeScript'">TypeScript Course</p>
      <p *ngSwitchCase="'JavaScript'">JavaScript Course</p>
      <p *ngSwitchDefault>HTML Course</p>
    </div>-->

    <router-outlet></router-outlet>
  </div>
</app-layout>