/* You can add global styles to this file, and also import other style files */
#mainContainer{
    padding-top: 15px !important;
}
.paddingCustom{
    padding-right: 0.20rem !important;
    padding-left: 0.20rem !important;
}
.fa-heart {
  color:black;
}
.navbar{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}