.loginBox{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 15px;
    /* background-color: #fdfdfd; */
    border: 1px solid #ded9d9;
    border-radius: 5px;
    max-width: 500px;
    min-width: 400px;
}